modules = ["web", "nodejs-20"]
run = "npm run build"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36288564
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
